footer{
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 0em 4em 0.5em 4em;
    color: white;
    background-color: darkblue;
    border: solid;
    border-color: black;
    border-width: 3px;
}

.section{
    margin: 0em 4em 0.5em 4em;
    border: solid;
    border-width: 3px;
}

.heading{
    border-bottom: solid;
    border-width: 3px;
    border-color: black;
    padding: 10px;
    color: white;
    background-color: blue;
    font-size: large;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content{
    padding: 10px;
}

.button{
    background-color: blue;
    border-top: solid;
    padding: 5px;
}

.johndoe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding: 3em;
}

#caption{
    padding-left: 50px;
    font-weight: bold;
}

#img{
    border: solid;
    border-width: 2px;
    padding: 5px;
}

ul, li{
    display: inline;
    padding-left: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    color: white;
    padding-left: 2em;
    background-color: blue;
}

#list1{
    display: flex;
    padding-left: 77em;
    background-color: grey;
}

#list2{
    background-color: lightgray;
    display: flex;
    padding-left: 3em;
}